$font: 'montserrat';

$white: #fff;
$bblue: #fafcff;
$bblue2: #eaeef3;
$bblue3: #d5e4fc;
$bblue4: #F3F7FE;
$sblue: #3b7de9;
$black: #101112;
$lgrey: #f1f1f1;
$grey: #767779;
$red: #ee3f2d;
$yellow1: rgb(250, 248, 233);
$brown: rgb(243, 228, 217);